:root {
  font-family: Kumbh Sans;
  /* line-height: 1.5; */
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  background-color: #1e213f;
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
}

.pomodoro {
  margin-inline: auto;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.69px;
  text-align: center;
  color: #D7E0FF;

}

.btns {
  display: flex;
  gap: 5px;
  padding-block: 8px;

  a {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.36px;
    text-align: left;
    color: #6b6b6b;
    padding: 19px 25px;

    &:active {
      border-radius: 26.5px;
      background-color: #F87070;
      color: #1E213F;
    }

  }
}

.content {
  margin-top: 45px;
  padding: 120px 52px;
  background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
  box-shadow: 50px 50px 100px 0px #121530;
  box-shadow: -50px -50px 100px 0px #272C5A;
  border-radius: 50%;

  span {
    font-size: 100px;
    font-weight: 700;
    line-height: 124.02px;
    letter-spacing: -5px;
    text-align: center;
    color: #D7E0FF;

  }

  h6 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.84px;
    letter-spacing: 15px;
    text-align: center;
    color: #D7E0FF;

  }
}

.shape {
  opacity: 30%;
  margin-top: 63px;
}

.modal-form {
  display: flex;

  input {
    margin: 0;
    padding: 0;
  }

  div {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 425px) {

  .btns {

    a {
      padding: 15px 20px;
      font-size: 12px;
      font-weight: 700;
      line-height: 14.88px;

    }
  }

  .content {
    margin-top: 45px;
    padding: 85px 30px;
  }
}