:root {
  font-family: Kumbh Sans;
  /* line-height: 1.5; */
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  background-color: #1e213f;
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
}

.pomodoro {
  margin-inline: auto;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.69px;
  text-align: center;
  color: #D7E0FF;

}

.btns {
  display: flex;
  gap: 5px;
  padding-block: 8px;

  a {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.36px;
    text-align: left;
    color: #6b6b6b;
    padding: 19px 25px;

    &:active {
      border-radius: 26.5px;
      background-color: #F87070;
      color: #1E213F;
    }

  }
}

.deneme {
  /* padding: 15px 68px; */
  box-shadow: 50px 50px 100px 0px #121530;
  box-shadow: -50px -50px 100px 0px #272C5A;
  border-radius: 50%;

}

.content {
  cursor: pointer;
  margin-top: 45px;
  padding: 118px 78px;
  background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
  border-radius: 50%;
  /* border: 9px solid #F87070; */

  span {
    font-size: 100px;
    font-weight: 700;
    line-height: 124.02px;
    letter-spacing: -5px;
    text-align: center;
    color: #D7E0FF;

  }

  h6 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.84px;
    letter-spacing: 15px;
    text-align: center;
    color: #D7E0FF;

  }
}

.shape {
  cursor: pointer;
  opacity: 30%;
  margin-top: 63px;
}

input[type="number" i] {
  padding-block: 0px;
  padding-inline: 0px;
}

.modal {
  background-color: #fff;
  padding-block: 20px 100px;
  padding-inline: 35px;
  border-radius: 25px;
  position: relative;
}

.modal-form {
  display: flex;
  gap: 20px;

  input {
    margin: 0;
    margin-top: 8px;
    padding: 0;
    width: 140px;
    padding-block: 15px;
    border-radius: 10px;
    border: none;
    background-color: #EFF1FA;
  }

  button {
    position: absolute;
    font-family: Kumbh Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.84px;
    text-align: center;
    color: #FFFFFF;
    background-color: #F87070;
    border-radius: 26.5px;
    border: none;
    padding: 21px 47px;
    bottom: 10px;
    right: 192px;

  }

  span {
    font-family: Kumbh Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.88px;
    text-align: left;
    color: #1E213F;
    opacity: 40%;
  }

  div {
    display: flex;
    flex-direction: column;
  }
}

.modal-middle {
  h3 {
    font-family: Kumbh Sans;
    font-size: 13px;
    font-weight: 700;
    line-height: 16.12px;
    letter-spacing: 5px;
    text-align: left;
    color: #161932;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-family: Kumbh Sans;
    font-size: 28px;
    font-weight: 700;
    line-height: 34.73px;
    text-align: left;
    color: #161932;

  }

  h2 {
    cursor: pointer;
    color: #979797;
  }
}

@media (max-width: 431px) {

  .btns {

    a {
      padding: 15px 20px;
      font-size: 12px;
      font-weight: 700;
      line-height: 14.88px;

    }
  }

  .content {
    margin-top: 45px;
    padding: 85px 30px;
  }

  .modal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      margin: 0;
    }

    button {
      padding: 15px 25px;
      bottom: 13px;
      right: 69px;
    }
  }
}